
// COLORS

$white: #ffffff;
$orange: #f98620;
$pink: #fc1168;
$purple: #70125f;
$blue: #0093de;
$darkblue: #004d9a;

// DISTANCE

$large: 90px;
$medium: 60px;
$small: 30px;

$mxxxl: 200px;
$mxxl: 100px;
$mxl: 100px;
$m1: 100px;
$m2: 80px;
$m3: 60px;
$m4: 40px;
$m5: 20px;


$m2600: 200px;



  // 480px
  @media screen and (min-width: 480px)  {

  }

  // 600px
  @media screen and (min-width: 600px)  {

  }

  // 768px
  @media screen and (min-width: 768px)  {

  }

  // 1024px
  @media screen and (min-width: 1024px)  {

  }


  // 1280px
  @media screen and (min-width: 1280px)  {

  }

  // 1440px
  @media screen and (min-width: 1440px)  {

  }

  // 1680px
  @media screen and (min-width: 1680px)  {

  }

  // 1920px
  @media screen and (min-width: 1920px)  {

  }

  // 2600px
  @media screen and (min-width: 2600px)  {

  }
