

// TYPOGRAPHY

* {
  color: $white;
  font-family: sans-serif;
}




.header-secondary {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  line-height: 1;

  // 480px
  @media screen and (min-width: 480px)  {

  }

  // 600px
  @media screen and (min-width: 600px)  {
      font-size: 30px;
  }

  // 768px
  @media screen and (min-width: 768px)  {
      font-size: 32px;
  }

  // 1024px
  @media screen and (min-width: 1024px)  {
      font-size: 34px;
  }

  // 1280px
  @media screen and (min-width: 1280px)  {
      font-size: 36px;
  }

    // 1280px
  @media screen and (min-width: 1440px)  {
      font-size: 42px;
  }

  // 1680px
  @media screen and (min-width: 1680px)  {
      font-size: 50px;
  }

  // 1920px
  @media screen and (min-width: 1920px)  {
      font-size: 44px;
  }

  // 2600px
  @media screen and (min-width: 2600px)  {
      font-size: 72px;
  }

}


.text {
  font-weight: 300;
  font-size: 16px;

  // 600px
  @media screen and (min-width: 600px)  {
    font-size: 16px;
  }

  // 768px
  @media screen and (min-width: 768px)  {
    font-size: 18px;
  }

  // 1280px
  @media screen and (min-width: 1280px)  {
    font-size: 20px;
  }

  // 1680px
  @media screen and (min-width: 1680px)  {
      font-size: 22px;
  }

  // 1920px
  @media screen and (min-width: 1920px)  {
      font-size: 24px;
  }

  // 2600px
  @media screen and (min-width: 2600px)  {
      font-size: 32px;
  }


}

.text-bread {
  font-weight: 300;
  font-size: 16px;
  line-height: 1.3;

  // 600px
  @media screen and (min-width: 600px)  {
    font-size: 17px;
  }

  // 768px
  @media screen and (min-width: 768px)  {
    font-size: 18px;
  }

  // 1280px
  @media screen and (min-width: 1280px)  {
    font-size: 18px;
  }

  // 1680px
  @media screen and (min-width: 1680px)  {
      font-size: 18px;
  }

  // 1920px
  @media screen and (min-width: 1920px)  {
      font-size: 19px;
  }

  // 2600px
  @media screen and (min-width: 2600px)  {
      font-size: 20px;
  }


}






